## template, rename to .env and fill

# Secret key, generate with:
# python -c 'import random; print "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])'
DJANGO_SECRET_KEY=

# ALLOWED_HOSTS - IP oddelene carkou bez mezery
DJANGO_ALLOWED_HOSTS=127.0.0.1

# DJANGO DEBUG
DJANGO_DEBUG=False

# DJANGO PORT
DJANGO_PORT=8844
