<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="system-division-{{division.id}}">System</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="schedule-division-{{division.id}}">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="crosstables-division-{{division.id}}">Tables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ranking-division-{{division.id}}">Ranking</a>
    </li>
  </ul>
</nav>
