{% extends 'body.html' %}

{% block content %}


<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Time</th>
    <th>Division</th>
    <th>Group</th>
    <th>Home</th>
    <th>Away</th>
    <th>Ref</th>
    <th>Problem</th>
  </thead>
  <tbody>
    {% for conflict in conflicts %}
    <tr>
      <td>{% if user_role.match_admin %}<a href="/admin/tournament/match/{{schedule.match.id}}/change">{% endif %}#{{conflict.schedule.game_number}}{% if user_role.match_admin %}</a>{% endif %}</td>
      <td>{{conflict.schedule.time | date:'D'}} {{conflict.schedule.time | date:'H:i'}}</td>
      <td><a href="schedule-division-{{conflict.division.id}}">{{conflict.division.name}}</a></td>
      <td><a href="schedule-division-{{conflict.division.id}}-group-{{conflict.group.id}}">{{conflict.group.name}}</a></td>
      <td>{% include "_team_link.html" with tph=conflict.match.home %}</td>
      <td>{% include "_team_link.html" with tph=conflict.match.away %}</td>
      <td>{% include "_team_link.html" with tph=conflict.match.referee %}</td>
      <td>{{conflict.problem}} {% include "_team_link.html" with team=conflict.team %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
