{% extends 'body.html' %}

{% block content %}


<table class="table table-striped">
  <thead>
    <th>Time</th>
    <th>Division</th>
    <th>Group</th>
    <th>Match</th>
    <th>Problem</th>
  </thead>
  <tbody>
    {% for conflict in conflicts %}
    <tr>
      <td>{{conflict.schedule.time | date:'D'}} {{conflict.schedule.time | date:'H:i'}}</td>
      <td><a href="schedule-division-{{conflict.division.id}}">{{conflict.division.name}}</a></td>
      <td><a href="schedule-division-{{conflict.division.id}}-group-{{conflict.group.id}}">{{conflict.group.name}}</a></td>
      <td>{{conflict.match.home.team_name}}:{{conflict.match.away.team_name}}</td>
      <td>{{conflict.problem}} <a href="schedule-team-{{conflict.team.id}}">{{conflict.team.team_name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
