{% extends 'body.html' %}

{% block content %}

<h2>{{division.name}} final ranking</h2>

<div class="container-fluid">
  <div class="row">

      <div class="col">

        <ol class="list-group">
          {% for rank in ranking %}
            <li class="list-group-item text-nowrap">
              <strong>{{rank.rank}}.</strong>
              {% if rank.teamPlaceholder.team %}{{rank.teamPlaceholder.team.name}}{%else%}{{rank.teamPlaceholder.name}}{%endif%}
            </li>
          {% endfor %}
        </ol>
      </div>
  </div>
</div>



{% endblock %}
