{% extends 'body.html' %}

{% block content %}

<h1>Final rankings</h1>

<div class="container-fluid">
  <div class="row">

    {% for r in rankings %}
      <div class="col">
        <h2>{{r.division.name}}</h2>

        <ol class="list-group">
          {% for rank in r.ranking %}
            <li class="list-group-item text-nowrap">
              <strong>{{rank.rank}}.</strong>
              {% include "_team_link.html" %}
            </li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
  </div>
</div>



{% endblock %}
