{% extends 'body.html' %}

{% block content %}

<h2>Final ranking</h2>

<div class="container-fluid">
  <div class="row">

    {% for r in rankings %}
      <div class="col">
        <h3>{{r.division.name}}</h3>

        <ol class="list-group">
          {% for rank in r.ranking %}
            <li class="list-group-item text-nowrap">
              <strong>{{rank.rank}}.</strong>
              {% if rank.teamPlaceholder.team %}{{rank.teamPlaceholder.team.name}}{%else%}{{rank.teamPlaceholder.name}}{%endif%}
            </li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
  </div>
</div>



{% endblock %}
