{% extends 'body.html' %}

{% block content %}

<h1>System {{division.name}}</h1>
{% include "_division_nav.html" %}

<h2>Phases / groups</h2>

<div class="container-fluid page-break-after">
  <div class="d-flex flex-wrap align-items-start gap-3">
      {% for group,teams in groups.items %}
      {% ifchanged group.phase %}
      {% if not forloop.first %}
          </div>
      </div>
      {% endif %}
      <div class="border rounded p-2" style="flex: 0 0 auto;">
        <h4 class="mb-3">Ph. {{group.phase}}</h4>
        <div class="d-flex flex-nowrap align-items-start gap-3">
      {% endifchanged %}
          <div style="flex: 0 0 auto; min-width: 220px;">
            <h5>{{group.name}}</h5>
            <ol class="list-group">
              {% for team in teams %}
                <li class="list-group-item text-nowrap">{{team}}</li>
              {% endfor %}
            </ol>
          </div>
      {% if forloop.last %}
        </div>
      </div>
      {% endif %}
      {%endfor%}
  </div>
</div>

<h2>Games ({{matches.count}}) </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Phase</th>
      <th>Group</th>
      <th>Home</th>
      <th>Away</th>
      <th></th>
    </tr>
  <thead>
  {% for match in matches %}
    <tr>
      <td>{{match.group.phase}}</td>
      <td>{{match.group.name}}</td>
      <td>{{match.home.team_name}} {% if match.group.phase > 1 and match.home.team %}({{match.home.name}}){% endif %}</td>
      <td>{{match.away.team_name}} {% if match.group.phase > 1 and match.away.team %}({{match.away.name}}){% endif %}</td>
      <td></td>
    </tr>
  {%endfor%}
</table>

{% endblock %}
