{% extends 'body.html' %}

{% block content %}

<h2>{{division.name}}</h2>

<h3>Groups</h3>

<div class="container-fluid page-break-after">
  <div class="row">
      {% for group,teams in groups.items %}
      <div class="col">
        <h4>{{group.name}}</h4>
        <ol class="list-group">
          {% for team in teams %}
            <li class="list-group-item text-nowrap">{{team}}</li>
          {% endfor %}
        </ol>
      </div>
      {%endfor%}
  </div>
</div>

<h3>Games ({{matches.count}}) </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Phase</th>
      <th>Group</th>
      <th>Home</th>
      <th>Away</th>
      <th></th>
    </tr>
  <thead>
  {% for match in matches %}
    <tr>
      <td>{{match.group.phase}}</td>
      <td>{{match.group.name}}</td>
      <td>{{match.home.team_name}} {% if match.group.phase > 1 and match.home.team %}({{match.home.name}}){% endif %}</td>
      <td>{{match.away.team_name}} {% if match.group.phase > 1 and match.away.team %}({{match.away.name}}){% endif %}</td>
      <td></td>
    </tr>
  {%endfor%}
</table>

{% endblock %}
