{% extends 'body.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <h3>Pitch schedule</h3>
          <ol class="list-group">
            {% for pitch in tournament.pitch_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/schedule-pitch-{{pitch.id}}">{{pitch.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

      <div class="col">
        <h3>Pitch protocols</h3>
          <ol class="list-group">
            {% for pitch in tournament.pitch_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-pitch-{{pitch.id}}">{{pitch.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

      <div class="col">
        <h3>Division tables</h3>
          <ol class="list-group">
            {% for div in tournament.division_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/crosstables-division-{{div.id}}">{{div.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

    </div>
  </div>

  <h2>Division protocols</h2>
  <div class="container-fluid">
    <div class="row">
    {% for div in tournament.division_set.all %}
    <div class="col">
      <h3>{{div.name}}</h3>
        <ol class="list-group">
          {% for group in div.group_set.all %}
            {% ifchanged group.phase %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-division-{{div.id}}-phase-{{group.phase}}">{{div.name}} phase {{group.phase}}</a></li>
            {% endifchanged %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-group-{{group.id}}">{{div.name}} gr. {{group.name}}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
