{% extends 'body.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <h3>Schedule</h3>
          <ol class="list-group">
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/schedule-full">Full schedule</a></li>
            {% for pitch in tournament.pitch_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/schedule-pitch-{{pitch.id}}">{{pitch.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

      <div class="col">
        <h3>Pitch protocols</h3>
          <ol class="list-group">
            {% for pitch in tournament.pitch_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-pitch-{{pitch.id}}">{{pitch.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

      <div class="col">
        <h3>Division tables</h3>
          <ol class="list-group">
            {% for div in tournament.division_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/crosstables-division-{{div.id}}">{{div.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

      <div class="col">
        <h3>Division ranking</h3>
          <ol class="list-group">
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/ranking-all">All divisions</a></li>
            {% for div in tournament.division_set.all %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/ranking-division-{{div.id}}">{{div.name}}</a></li>
            {% endfor %}
          </ol>
      </div>

    </div>
  </div>

  <h2>Division protocols</h2>
  <div class="container-fluid">
    <div class="row">
    {% for div in tournament.division_set.all %}
    <div class="col">
      <h3>{{div.name}}</h3>
        <ol class="list-group">
          {% for group in div.group_set.all %}
            {% ifchanged group.phase %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-division-{{div.id}}-phase-{{group.phase}}">{{div.name}} phase {{group.phase}}</a></li>
            {% endifchanged %}
            <li class="list-group-item"><a href="/live/{{tournament.slug}}/protocols-group-{{group.id}}">{{div.name}} gr. {{group.name}}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <h3>Last matches</h3>

        <table class="table">
          <tr>
            <th>#</th>
            <th>Time</th>
            <th>Pitch</th>
            <th>Division</th>
            <th>Group</th>
            <th>Home</th>
            <th></th>
            <th>Away</th>
            <th></th>
            <th></th>
          </tr>
          {% for s in last_schedule %}
          <tr class="{% if s.match.score_filled %}text-success mark{% endif %}">
            <td>#{{s.schedule.game_number}}</td>
            <td>{{s.schedule.time | date:'D H:i'}}</td>
            <td><a href="/live/{{tournament.slug}}/schedule-pitch-{{s.pitch.id}}">{{s.pitch}}</a></td>
            <td><a href="/live/{{tournament.slug}}/schedule-division-{{s.division.id}}">{{s.division.name}}</a></td>
            <td>
              <a href="/live/{{tournament.slug}}/schedule-division-{{s.division.id}}-group-{{s.group.id}}">{{s.group.name}}</a>
              {% if s.group.All_scores_filled and not s.group.finished and s.group_match_count == 1 %}
                {% if kpadmin %}
                <button type="button" class="btn btn-primary btn-sm finish-group" name="{{s.group.id}}">finish</button>
                {% endif %}
              {% elif s.group.finished %}
                <span class="badge badge-info">finished</span>
              {% endif %}

            </td>
            <td>{{s.match.home.team_name}}</td>
            <td>{{s.match.home_score| default_if_none:""}}:{{s.match.away_score| default_if_none:""}}</td>
            <td>{{s.match.away.team_name}}</td>
            <td><a href="/live/{{tournament.slug}}/crosstables-division-{{s.division.id}}">tables</a></td>
            <td>{% if kpadmin and s.group.finished %}<button type="button" class="btn btn-danger btn-sm reopen-group" name="{{s.group.id}}">Reopen table</button>{% endif %}</td>
          </tr>
          {% endfor %}
          </table>
      </div>
    </div>
  </div>

{% endblock %}
