{% extends 'body.html' %}

{% block content %}

<h2> {{tournament.name}} Schedule</h2>

<h3> Games </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Pitch</th>
      <th>Division</th>
      <th>Group</th>
      <th>Home</th>
      <th>Away</th>
      <th>Referee</th>
    </tr>
  <thead>
  {% for schedule in schedules %}
    <tr>
      <td>{{schedule.time}}</td>
      <td>{{schedule.pitch.name}}</td>
      <td>{{schedule.match.division.name}}</td>
      <td>{{schedule.match.group.name}}</td>
      <td>{{schedule.match.home.team_name}}</td>
      <!-- <td>{{schedule.match.home_score}}</td>
      <td>{{schedule.match.away_score}}</td> -->
      <td>{{schedule.match.away.team_name}}</td>
      <td>{{schedule.match.referee.team_name}}</td>
    </tr>
  {%endfor%}
</table>

{% endblock %}
