{% extends 'body.html' %}
{% block filterbox %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="/tournament-{{tournament.id}}/schedule-full">Game-Schedule</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFilter" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarFilter">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"><input type="checkbox" id="tgns">filter old games</a></li>
            <li class="nav-item dropdown">
  			<select class="custom-select custom-select-sm myteam1 nav-link" onchange="highlightTeam(this.value, 'myteam1')" style="max-width:150px">
  	    		<option selected>My Team</option>
     			{% for team in teams %}
        			<option value="{{ team }}">{{ team }}</option>
     			{% endfor %}
     			</select>
			</li>
			<li class="nav-item dropdown">
  			  <select class="custom-select custom-select-sm myteam2 nav-link" onchange="highlightTeam(this.value, 'myteam2')" style="max-width:150px">
  	   			<option selected>My other Team</option>
     			{% for team in teams %}
       				<option value="{{ team }}">{{ team }}</option>
     			{% endfor %}
    		  </select>
			</li>
			{% if kpadmin %}<li class="nav-item"><a class="nav-link" href="/findconflicts/tournament-{{tournament.id}}">Check Conflicts</a></li>{% endif %}
          </ul>
      </div>
    </nav>
{% endblock filterbox%}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Pitch</th>
      <th>Division</th>
      <th>Group</th>
      <th>Home</th>
      <th></th>
      <th></th>
      <th>Away</th>
      <th>Referee</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% for schedule in schedules %}
    <tr {% ifchanged schedule.time %}class="schedule-time-break{% if schedule.match.home_points is not None %} played{% endif %}"{% endifchanged %}
     {% if schedule.match.home_points is not None %}class="played"{% endif %}>
      <td>{% if kpadmin %}<a href="/admin/tournament/match/{{schedule.match.id}}/change">{% endif %}#{{schedule.game_number}}{% if kpadmin %}</a>{% endif %}</td>
      <td class="text-nowrap"><a href="?filter_date={{schedule.time | date:'Y-m-d'}}">{{schedule.time | date:'D'}}</a> {{schedule.time | date:'H:i'}}</td>
      <td class="text-nowrap"><a href="schedule-pitch-{{schedule.pitch.id}}">{{schedule.pitch.name}}</a></td>
      <td><a href="schedule-division-{{schedule.match.division.id}}">{{schedule.match.division.name}}</a></td>
      <td><a href="schedule-division-{{schedule.match.division.id}}-group-{{schedule.match.group.id}}">{{schedule.match.group.name}}</a></td>
      <td>
        {% include "schedule-team.html" with tph=schedule.match.home %}
      </td>
      <td class="score">
        {% include "schedule-score.html" with home_away="home" score=schedule.match.home_score %}
      </td>
      <td class="score">
        {% include "schedule-score.html" with home_away="away" score=schedule.match.away_score %}
      </td>
      <td>
        {% include "schedule-team.html" with tph=schedule.match.away %}
      </td>
      <!-- <td>{{schedule.match.away.team_name}}</td> -->
      <td>
        {% include "schedule-team.html" with tph=schedule.match.referee %}
      </td>
      <td>
        {% if kpadmin %}
          {% if  not schedule.match.locked and schedule.match.home_points is not None %}
             <button name="{{schedule.match.id}}" class="badge badge-pill badge-danger del-score d-print-none" data-toggle="tooltip" title="Delete score">X</button></td><td>
          {% else %}
              <input type="checkbox" id="select{{schedule.id}}" class="teamselector" onclick="selectMatch({{schedule.id}})"></td>
              <td><a href="/schedule-switch-{{schedule.id}}-xx" class="teamswitch"> <span class="fa fa-random fa-lg"></span> </a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
