{% extends 'body.html' %}

{% block content %}

<h2> {{tournament.name}} Schedule</h2>

<h3> Games </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Pitch</th>
      <th>Division</th>
      <th>Group</th>
      <th>Home</th>
      <th>Away</th>
      <th>Referee</th>
    </tr>
  <thead>
  {% for schedule in schedules %}
    <tr>
      <td>{{schedule.time}}</td>
      <td><a href="pitch-{{schedule.pitch.id}}">{{schedule.pitch.name}}</a></td>
      <td><a href="division-{{schedule.match.division.id}}">{{schedule.match.division.name}}</a></td>
      <td>{{schedule.match.group.name}}</td>
      <td>
        {% include "schedule-team.html" with tph=schedule.match.home %}
      </td>
      <!-- <td>{{schedule.match.home_score}}</td>
      <td>{{schedule.match.away_score}}</td> -->
      <td>
        {% include "schedule-team.html" with tph=schedule.match.away %}
      </td>
      <!-- <td>{{schedule.match.away.team_name}}</td> -->
      <td>
        {% include "schedule-team.html" with tph=schedule.match.referee %}
      </td>
    </tr>
  {%endfor%}
</table>

{% endblock %}
