{% extends 'body.html' %}

{% block content %}

<h2>Teams</h2>
<div class="container-fluid">
  <div class="row">
    {% for division,teams in division_seed.items %}
    <div class="col">
      <h3>{{division.name}}</h3>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="system-division-{{division.id}}">System</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="schedule-division-{{division.id}}">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tables-division-cross-{{division.id}}">Tables</a>
          </li>
        </ul>
      </nav>

      <ol class="list-group">
        {% for team in teams %}
        <li class="list-group-item">{{team}}</li>
        {% endfor %}
      </ol>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}
