td a {
  color: black;
  text-decoration: none !important;
}

td.score input{
   border: none !important;
   box-shadow: none !important;
   outline: none !important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000 !important;
}

/* skryti admin prvku */
 td.admin{
  display: none;
}
