@page {
    size: A4 landscape;
}

html{
  font-size: 0.8rem;
}

td a {
  color: black;
  text-decoration: none !important;
}

td.score input{
   border: none !important;
   box-shadow: none !important;
   outline: none !important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000 !important;
}

/* oznaceni tymu */
#schedule td.bg-warning{
  background-color: rgb(255, 193, 7) !important;
  font-weight: bold !important;
}

/* skryti admin prvku */
 td.admin{
  display: none;
}

div.crosstable-phase{
  break-inside: avoid;
}

.page-break-after{
  page-break-after: always;
}
