html * {
  font-size: 0.8rem;
}

body {
  padding-top: 70px;
}

td.score input {
  width: 35px;
}

h2 {
  margin: 10px;
}

h3 {
  margin-left: 20px;
}

.grouptable tr:first-child th {
  font-size: large;
  padding: 30px;
}
.grouptable tr:last-child{
  border-bottom: 40px solid white;
}

.finish-group{
  margin-left: 30px;
}

tr.schedule-time-break{
  border-top: 2px solid #abbac9;
}

nav.sticky-top {
    margin-bottom: 0px;
    position: static;
}

.crosstable td{
    text-align: center;
}

a:hover, a:active, a:visited, a:link{
    text-decoration: none;
}
